# common
HOST_USER=1000:1000
DATA_HOME=/home/rick/heapy-configuration

# kotbot
KOTBOT_RELEASE=b86
KOTBOT_TOKEN=42:answer

# tgto
TGTO_RELEASE=b36
TGTO_BOT_TOKEN=42:answer
TGTO_BASE_URL=https://tgto.heapy.io/

# repo.kotlin.link
REPO_KOTLIN_LINK_RELEASE=b23
