# common
HOST_USER=1000:1000
DATA_HOME=/home/rick/heapy-configuration

# kotbot
KOTBOT_RELEASE=b86
KOTBOT_TOKEN=42:answer

# tgto
TGTO_RELEASE=b14
TGTO_BOT_TOKEN=42:answer
TGTO_BASE_URL=https://tgto.heapy.io/
TGTO_STORE_PATH=/data/mapdb

# repo.kotlin.link
REPO_KOTLIN_LINK_RELEASE=b23

# mtproto
PROXY_SECRET=42

# ttrss
TTRSS_RELEASE=latest
