mqtt:
  enabled: true
  host: 192.168.1.250
  port: 1883

ffmpeg:
  hwaccel_args: preset-vaapi

detectors:
  coral:
    type: edgetpu
    device: usb

objects:
  track:
    - person
    - cat
    - dog

record:
  enabled: true
  retain:
    days: 30
    mode: motion
  alerts:
    retain:
      days: 60
  detections:
    retain:
      days: 60
snapshots:
  enabled: true
  retain:
    default: 60

birdseye:
  enabled: true
  mode: continuous

cameras:
  front:
    ffmpeg:
      inputs:
        - path: rtsp://admin:{FRIGATE_CAM251_PASSWORD}@192.168.1.251:554/stream1
          roles:
            - detect
            - record
  side:
    ffmpeg:
      inputs:
        - path: rtsp://admin:{FRIGATE_CAM252_PASSWORD}@192.168.1.252:554/stream1
          roles:
            - detect
            - record
    objects:
      filters:
        person:
          min_score: 0.70
          threshold: 0.80
  back:
    ffmpeg:
      inputs:
        - path: rtsp://admin:{FRIGATE_CAM253_PASSWORD}@192.168.1.253:554/stream1
          roles:
            - detect
            - record
version: 0.15-1
