# cloudflare
TUNNEL_TOKEN=

# kotbot
KOTBOT_TOKEN=
KOTBOT_GPT_TOKEN=
KOTBOT_GPT_ORG_ID=

# tgpt
TGPT_BOT_TOKEN=
TGPT_OPENAI_API_KEY=

# awesome kotlin
AWESOME__JWT__SECRET=
AWESOME__GITHUB__CLIENT_ID=
AWESOME__GITHUB__CLIENT_SECRET=

# tg-spam
TG_SPAM_TELEGRAM_TOKEN=
TG_SPAM_TELEGRAM_GROUP=
TG_SPAM_TRAINING=false
TG_SPAM_OPENAI_TOKEN=
TG_SPAM_ADMIN_GROUP=
TG_SPAM_NO_SPAM_REPLY=true
